.competition-analysis {
  margin-top: 1rem;
}

.competition-analysis .matrix-analysis-container {
  display: flex;
  min-height: 50rem;
}

.competition-analysis .matrix-chart {
  width: 65rem;
  height: 50rem;
}

.competition-analysis .matrix-editor {
  width: 35rem;
  height: 70%;
  padding-top: 0.5rem;
}
