
.matrix-editor .ant-card-body {
  padding: 0.5rem 1rem;
}

.matrix-editor .ant-card-head {
  text-align: left;
}

.matrix-editor .panel-actions {
  display: flex;
  justify-content: flex-end;
  width: 10rem;
}

.matrix-editor .panel-button {
  width: 5rem;
  margin-left: 0.5rem;
}

.matrix-editor .panel-body .ant-list-item {
  padding-left: 0;
}

.matrix-editor .autocomplete-container {
  height: 2rem;
  margin: 1rem 0;
}

.matrix-editor .autocomplete {
  width: 100%;
}
